.bubble-chart.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    p {
        line-height: 1em;
        margin: 0.3em 0;
    }

    .title {
        font-size: 1.5em;
    }

    .value {
        font-size: 2em;
        font-weight: bold;
    }

    .label {
        font-size: 0.8em;
        color: darkgray;
    }
}

.row.slider-row {
    margin-top: 10vh;
}