<div class="row valign-wrapper">
    <div class="col s3">
        <form [formGroup]="chartForm" materialize class="container">
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="period"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.periodOptions"
                    >
                        <option *ngFor="let option of chartOptions.periodOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Period</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="property"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.propertyOptions"
                    >
                        <option *ngFor="let option of chartOptions.propertyOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Property</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="xAxis"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>X Axis</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="yAxis"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Y Axis</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="bubbleSize"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Bubble Size</label>
                </div>
            </div>
        </form>
    </div>
    <div class="col s9">
        <div class="bubble-chart container">
            <ngx-charts-bubble-chart #bubbleChart
                [view]="[800, 400]"
                [results]="jobs"
                [autoScale]="true"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [minRadius]="20"
                [maxRadius]="30"
            ></ngx-charts-bubble-chart>
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <nouislider #sliderRef
            [config]="sliderConfig"
            [(ngModel)]="range"
        ></nouislider>
    </div>
</div>
