<div class="row valign-wrapper">
    <div class="col s3">
        <form [formGroup]="chartForm" materialize class="container">
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="period"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.periodOptions"
                    >
                        <option *ngFor="let option of chartOptions.periodOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Period</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="dataClass"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.classOptions"
                    >
                        <option *ngFor="let option of chartOptions.classOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Class</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="xAxis"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>X Axis</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="yAxis"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Y Axis</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select
                        formControlName="bubbleSize"
                        materialize="material_select"
                        [materializeSelectOptions]="chartOptions.axisOptions"
                    >
                        <option *ngFor="let option of chartOptions.axisOptions" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Bubble Size</label>
                </div>
            </div>
        </form>
    </div>
    <div class="col s9">
        <div class="bubble-chart container">
            <ngx-charts-bubble-chart
                [view]="[800, 400]"
                [results]="jobs"
                [autoScale]="false"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
            ></ngx-charts-bubble-chart>
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="someRange" (change)="onChange($event)"></nouislider>
</div>
